@page "/"

<PageTitle>在庫管理システム - メインメニュー</PageTitle>

<div class="container mt-5">
	<h1 class="mb-4">メインメニュー</h1>


	<div class="card p-3 mb-4">
		@*ボタン配置*@
		<div class="d-grid gap-4">
			<a href="/shohin/menu" class="btn btn-primary btn-lg">商品管理</a>
			<a href="/shiire/index" class="btn btn-primary btn-lg">仕入管理</a>
			<a href="/uriage/index" class="btn btn-primary btn-lg">売上管理</a>
			<a href="/shiiresaki/index" class="btn btn-primary btn-lg">仕入先管理</a>
			<a href="/reportmenu/index" class="btn btn-primary btn-lg">一覧表</a>
		</div>
	</div>
</div>

@code {
	// メインメニューはロジックなし
}
