@page "/"
@using InbentorySystem.Data
@using InbentorySystem.Data.Models

// RepositoryをDIで注入
@inject ShohinRepository ShohinRepo

<PageTitle>商品リスト（DB接続テスト）</PageTitle>

<h1>商品マスタ一覧（DB接続テスト）</h1>

@if (shohinList == null)
{
	<p><em>データベースからデータを読み込み中・・・</em></p>
}
else if (shohinList.Count == 0)
{
	<p class="alert alert-warning">DB接続は成功しましたが、データはありませんでした。</p>
}
else
{
	<table class="table table-cordered">
		<thead>
			<tr>
				<th>コード</th>
				<th>商品名</th>
				<th>仕入価格</th>
				<th>販売価格</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var shohin in shohinList)
			{
				<tr>
					<td>@shohin.ShohinCode</td>
					<td>@shohin.ShohinKanjiMei</td>
					<td>@shohin.Siiirekakaku</td>
					<td>@shohin.HanbaiKakaku</td>
				</tr>
			}
		</tbody>
	</table>
}

@code {
	private List<ShohinModel>? shohinList;

	/// <summary>
	/// コンポーネント初期化時にDBからデータを取得
	/// </summary>
	/// <returns>shohinRepo</returns>
	protected override async Task OnInitializedAsync()
	{
		// Repositoryを使ってデータを取得
		try
		{
			shohinList = await ShohinRepo.GetAllAsync();
		}
		// DB接続エラーなどの例外をキャッチ
		catch (Exception ex)
		{
			// 空のリストを設定してUIが壊れないようにする
			shohinList = new List<ShohinModel>(); 
			Console.Error.WriteLine($"☆★データベース接続エラー: {ex.Message}");
		}
	}
}
